@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers. 
// Alter border-sizing styles to prevent issues in P2P HTML stories
// @import "normalize";
// @import "fonts";

body {
	color: $offblack;
	font-size: 16px; // body-level font size for "em"-scaled designs
}
h1 {
	font-family: $georgia;
}
p,a {
	font-family: $georgia;
}
a {
	color: $goldenrod;
	text-decoration: none;
}
#task-force-org {
	margin-top: 50px; // Pushes below topnav
	ul, li {
		position: relative;
		list-style-type: none!important;
	}
	ul {
		list-style: none;
		padding-left: 32px;
		& > li:last-child::after {
			height: 8px;
		}
	}
	li {
		// display: inline-block;
		list-style: none;
		padding-top: 3em;
		&:before, &:after {
			content: "";
			position: absolute;
			left: -14px;
		}
		&:before {
			border-top: 3px solid black;
			top: 3em;
			width: 12px;
			height: 0;
		}
		&:after {
			border-left: 3px solid black;
			height: calc(100% + 3em);
			width: 0px;
			top: 2px;
		}
		&.first {
			padding-top: 1em;
			&:before {
				top: 1em
			}
		}
	}
	.profile {
		width: 100%;
		max-width: 600px;
		@include clearfix;
		img {
			width: 100px;
			float: left;
			display: inline-block;
			margin: 0 1em 1em 0;
		}
		.details {
			padding-bottom: 1em;
			background-color: #eee;
			p {
				clear: none;
			}
			.name {
				margin: 0;
				padding-top: 3px;
				font-weight: bold;
				font-size: 2em;
				@media(max-width: 500px) {
					font-size: 1.5em;
				}
			}


		}
	}
}


/* Leaderboard */
// #leaderboard {
// 	width: 728px;
// 	height: 90px;
// 	background-color: #222222;
// 	margin: 10px auto;
// 	text-align: center;
// 	@media (max-width: 730px){
// 		display: none;
// 	}
// }